<a href="https://colab.research.google.com/github/dmvdatascience/Python-Foundations-Cohort-1/blob/master/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Fundamentals**

Let's review some Python fundementals before we start the Analytic Workflow

Variables, Data Types, and Print

In [0]:
number = 5

float_number = 4.321

character = 'c'

word = 'Hello World'


print('Basic Datatypes')
print('Number: ', number)
print('Float: ', float_number)
print('Char: ', character)
print('Word: ', word)

Here are some additional ways to print variables to the console

In [0]:
# Strings can be concatenated together with the '+' operator
# number and float_number need to be converted to a string before concatenation 

print('Basic Datatypes')
print('Number: ' + str(number))
print('Float: ' + str(float_number))
print('Char: ' + character)
print('Word: ' + word)
print()

# Here's how to do print formating in Python- the '{}' characters are a stand in for a variable
# The '\n' character is the new line character
# When printed, the next character will be printed on the next line

print('Basic Datatypes')
print('Number: {}\nFloat: {}\nChar: {}\nString: {}'.format(number, float_number, character, word))
print()
print('Basic Datatypes')
print(f'Number: {number}\nFloat: {float_number}\nChar: {character}\nString: {word}')

Lists, Sets, and For loops

In [0]:
names = ['Harry', 'Larry', 'Larry', 'Barry']

names.append('Garry')

for name in names:
  print(name)
  
  
name_set = set(names)

print(name_set)

name_set.add('Sherry')
name_set.remove('Barry')

print(name_set)

Control Flow

In [0]:
# Traditional If - Else block

if 5 + 5 == 20:
  print(5 + 5 == 20)
  print('Why don\'t we try this?')
  
elif 15 > 35:
  print(15 > 35)
  print('If not, then let\'s do this...')
  
else:
  print('Otherwise do this then...')

  
if True:
  print('Each if statement will be evaluated')

In [1]:
print('Hello' if (5 + 5 == 0) else 'World')

World

Dictionary

In [0]:

# Initialize a dict

mapping = {
    'Jan': 'January',
    'Feb': 'February',
    'Mar': 'March',
    'Apr': 'April'
}

# Update the mapping dictionary one key at a time

mapping['May'] = 'May'
mapping['Jun'] = 'June'
mapping['Jul'] = 'July'
mapping['Aug'] = 'August'


# Merge a dictionary into the mapping dictionary
mapping.update({
    'Sep': 'September',
    'Oct': 'October',
    'Nov': 'November',
    'Dec': 'December'
})

day = 1
month = 'Nov'
year = 2019

print('Use a dictionary! {} {}, {}'.format(day, mapping[month], year))

Functions

In [0]:
def average(list_numbers):
  length = len(list_numbers)
  list_sum = sum(list_numbers)
  
  return list_sum/length

print(average([4, 5, 6]))
print(average(list_numbers=[4, 5, 6]))

# **Analytic Workflow**

**Execise 1**

When we start our workflow we need to prepare the workspace by importing required packages. Here we need to import the pandas package 


To import a package in Python specify the package name, and optionally you
can give it an alias

In [0]:

# On the line below import the pandas package as pd

import <package> as <alias>



GITHUB_REPO = 'https://raw.githubusercontent.com/dmvdatascience/Python-Foundations-Cohort-1/master/raw_data'

TITANIC_CSV = f'{GITHUB_REPO}/titanic.csv'

Next, let's read in the data. To do so, use the **read_csv** method from pandas, and provide a string of the file name we would like to read data from

Let's look at the documentation for pandas read_csv function

In [0]:
# Jupyter specific syntax to display documentation

?pd.read_csv()

In [0]:
# Displays all the properties of an object

print(dir(pd.read_csv))

In [0]:
# Prints the documentation for an object

print(pd.read_csv.__doc__)

In [0]:

#  On the line below specify the filename as TITANIC_CSV

titanic_df = pd.read_csv(<filename>)

print(titanic_df.info())

Take a look at what happend when we ran the **info()** method on a dataframe. It showed us the name and data type of each of the columns, and how many entries are in each of the columns.

In the cell below pick values from above, and try out several values for the column variable


1.   What information does this method give you?
2.   Do different columns provide different information? Why?

In [0]:

column = 'Ticket'

print(titanic_df[column].describe())

Next, when working with datasets we may have column names that don't work for us. Maybe they name doesn't convey the column's meaning well, maybe there's spaces instead of underscores, etc.

In the cell below, rename the 'Pclass' column to 'PassengerClass'

In [0]:

column_mapping = {
    'Pclass': 'PassengerClass'
}

titanic_df.rename(columns=column_mapping, inplace=True)

**Exercise 2**

In this exercise we will be covering taking slices of a dataframe and changing the datatype of a column. Some operations require specific datatypes to complete, and to ensure we have the correct data type we need to enforce it.

First let's take slices of a dataframe. To return the values for a specific column, we use sqaure brackets and specify the string name for the column

In [0]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7 , 8, 9, 10],
    'B': [10, 9, 8, 7, 6, 5, 4, 3, 2, 1],
    'C': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
})

print('Column A:')
print(df['A'])

print("Column B: ")
print(df['B'])

print('Column A and B: ')
print(df[['A', 'B']])

Let's change the datatype for the 'PassengerClass' column. It was originally read in as a number, but it is really a categorical variable and should be a string

In [0]:
# In the line below, replace <column_name> with PassengerClass

titanic_df[<column_name>] = titanic_df[<column_name>].map(str)

print(titanic_df.info())

Notice the datatype for the PassengerClass column went from int64 to object

**Exercise 3**

Next we're going to create a calculated column. In Python you can perform operations on whole columns!

It's easier to perform analytics on numeric columns, so let's use the 'Sex' column to create a new column called 'Female'. 

If the value of the 'Sex' column is male set the value to 0 otherwise 1

In [0]:
# Iterate through each of the values in the 'Sex' column  of the titanic_df
# If the value is 'male' append 0 to female column, else append 1 
# Bonus - How could we make the logic inside the for loop 1 line of code?

female_column = []

for value in titanic_df['Sex']:
  
  if value == 'male':
    female_column.append(0)
    
  else:
    female_column.append(1)

titanic_df['PassengerFemale'] = female_column

Next, let's take a look at the groupby operation. With the groupby operation, we can do things like group the data by a category and retrieve a mean value.

Let's do that with the PassengerClass column, and retrieve the mean Fare values.

In [0]:
# First, take a slice of the data to retrive only the 'PassengerClass' column and the 'Fare' column
sliced_df = <slice of titanic_df>

# Next, select the column to group the data by, the input should be a string
grouped_df = sliced_df.groupby(<column_name>)

# Last, you can perform the operation on the sliced data
print(grouped_df.mean())

**Exercise 4**

For the last exercise, let's produce some visualiations for the data. Pandas has some nice built in functionality to help us out with this!

Play around with different columns and combinations of columns

In [0]:
titanic_df['Age'].hist()

In [0]:
titanic_df[['Age', 'Survived']].boxplot(by='Survived')

# **Object Oriented Programming**

Here's an example of object oriented programming and use

The most popular Python packages are wirtten in the object oriented style. If you would like to dive further into Python and take your programming ability to the next level, it is important to become familiar with object oriented programming and design

In [0]:
class Student:
    def __init__(self, name, degree, energy=10, hunger=0):
        self.name = name
        self.degree = degree
        self.energy = energy
        self.hunger = hunger

    def do_homework(self, course):
        if self.energy >= 5:
            self.energy -= 5
            print(f"I did my {course} homework!")
        else:
            print("I can't do more homework!")
            
    def eat(self, food='healthy'):
        if food == 'healthy':
            self.hunger = 0

            if self.energy <= 8:
                self.energy += 2

        elif food == 'unhealth':
            self.hunger = 0
            self.energy -= 2

    def sleep(self, hours=8):
        if hours < 8:
            self.energy -= 1
            print('I didn\'t sleep so well...')
        else:
            self.energy = 10
            print('I\'m fully recovered!')

In [15]:
larry = Student(name='Larry', degree='Math')

larry.do_homework('Math')
larry.do_homework('Computer Science')

print('{} has {} energy left'.format(larry.name, larry.energy))

larry.do_homework('English')

print('{} is {}hungry'.format(larry.name, 'not ' if (larry.hunger == 0) else ''))

larry.sleep(hours=10)

print('{} has {} energy left'.format(larry.name, larry.energy))

I did my Math homework!
I did my Computer Science homework!
Larry has 0 energy left
I can't do more homework!
Larry is not hungry
I'm fully recovered!
Larry has 10 energy left